.home-button {
    display: flex;
    justify-content: center;
    color: #D92938;
    background-color: indianred;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    font-size: 40px;
}
button { display: block; }
.horiz-nav {
    display: flex;
    flex-direction: row;
    background-color: grey;
    justify-content: center;
}

li{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
}