.home-button {
    display: flex;
    justify-content: center;
}
 
#logo {
    height: 30%;
    width: 30%;
}

.horiz-nav {
    display: flex;
    flex-direction: row;
    background-color: #518C29;
    justify-content: center;
}

li{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.profile-info {
    display: flex;
    padding-left: 200px;
    
}

.profile-block{
    display: flex;
    background-color: #F2CD5E;
    padding: 20px;
    width: 900px;
}

#profile-pic {
    height: 250px;
    width: 170px;
    border: white solid 20px;
}

#user-name {
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    margin-top: 70px;
    padding: 0px 20px;
}

#add-recipe-button {
    margin: 0px 20px;
    background-color: black;
}