.home-button {
    display: flex;
    justify-content: center;
}
 
#logo {
    height: 30%;
    width: 30%;
}

.horiz-nav {
    display: flex;
    flex-direction: row;
    background-color: #518C29;
    justify-content: center;
}

li{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}