.home-button {
    display: flex;
    justify-content: center;
}
 
#logo {
    height: 30%;
    width: 30%;
}

.horiz-nav {
    display: flex;
    flex-direction: row;
    background-color: #518C29;
    justify-content: center;
}

li{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    
    font-family: 'Montserrat', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    
    width: 700px;
    margin-left: 350px;
}

.form-items {
    padding:15px;
    margin: 0px 20px;
}
.form-labels{
    padding:15px;
    margin: 0px 5px;
}

#minstructions{
    margin: 20px;
    padding-bottom: 100px;
}

#submit{
    margin: 20px;
    background-color: #D92938;
    border: none;
    color: white;
}