.home-button {
  display: flex;
  justify-content: center;
}

#logo {
  height: 30%;
  width: 30%;
}

.horiz-nav {
  display: flex;
  flex-direction: row;
  background-color: #518C29;
  justify-content: center;
}

li{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 20px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

#myInput {
    background-image: url('/css/searchicon.png'); 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 100%;
    font-size: 16px; 
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px; 
    font-family: 'Montserrat', sans-serif;
  }
  
  #myTable {
    border-collapse: collapse; 
    width: 100%; 
    border: 1px solid #ddd; 
    font-size: 18px; 
    font-family: 'Montserrat', sans-serif;
  }
  
  #myTable th, #myTable td {
    text-align: left; 
    padding: 12px; 
    font-family: 'Montserrat', sans-serif;
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
    font-family: 'Montserrat', sans-serif;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
  }